<%- include('../views/partials/central_admin/header') -%>
<%- include('../views/partials/central_admin/navbar') -%>
<%- include('../views/partials/central_admin/top-navbar') -%>
<%- include('../views/dialogs/select-employee-dialog') -%>
<%- include('../views/dialogs/dialog-box') -%>
<%- include('../views/dialogs/prompt-input-dialog') -%>
<%- include('../views/dialogs/prompt-confirm-dialog') -%>
<%- include('../views/dialogs/add-appointement-patients-dialog') -%>
<%- include('../views/dialogs/order-cart-dialog') -%>
<%- include('../views/dialogs/orders-cart-dialog') -%>
<%- include('../views/dialogs/preview-file-dialog') -%>
<%- include('../views/dialogs/add-consommables-to-patient-dialog') -%>
<%- include('../views/addons/top-loader') -%>
<%- include('../views/addons/user-auth') -%>
<%- include('../views/addons/toast') -%>
<%- include('../views/addons/top-progress-bar') -%>
<%- include('../views/addons/page-loader') -%>

<div class="main-content-container position-relative" id="MainContentContainer">

    <!-- <div class="mb-2">
        <input type="number" id="chunk_size_input" class="form-control" value="7000000">
    </div>
    <div class="mb-2">
        <input type="file" id="file_input" class="form-control">
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" id="progress_bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="btn-group">
        <button id="upload_button" class="btn btn-success">Upload</button>
    </div> -->

</div>

<!-- <script>

    $(function()
    {

        const chunk_size_input = $('#chunk_size_input')
        const file_input = $('#file_input')
        const progress_bar = $('#progress_bar')
        const upload_button = $('#upload_button')
 
        let uploader
        upload_button.on('click', e =>
        {

            uploader = new ChunkFileUploader({
                file: file_input[0].files[0],
                endpoint: DEFAULT_INI_SETTINGS.Server_Settings.API_END_POINT+'Files/test_upload',
                chunkSize: parseInt(chunk_size_input.val()),
            })

            uploader.resume()

            uploader.on('progress', e =>
            {
                const detail = e.detail
                const percent = detail.progress.toFixed(2)
                progress_bar.css('width', percent+'%')
            })

            uploader.on('success', e =>
            {
                const detail = e.detail
                const response = detail.response
                console.log(response)
                // post('Files/assemble_chunks', response.json.params)
            })

        })


    })

</script>
 -->


<!-- End Main Container -->
<%- include('../views/partials/central_admin/footer') -%>